.div-head{
    position: relative;
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0;
}
.div-inline{
    display:inline
}
.div-right{
    float: right;
    display:inline
}
.div-center{
    margin: 0 auto; /*水平居中*/
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%); /*就是这个让div居中的*/
}
.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}
.scroll-list {
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0.1rem;
    margin-bottom: -.2rem;
    overflow: -moz-scrollbars-none;
    overflow: -moz-scrollbars-none;
}
.scroll-list ::-webkit-scrollbar{
    display: none;
}
.flow-default {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 0;
}
.flow-default li {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    width: 32%;
    margin-bottom: 10px;
    height: auto;
    line-height: 100px;
    text-align: center;
    background-color: #eee;
}
.flow-default img {
    width: 100%;
    height: 100%;
}