.sidebar-shrink #app-sidebar {
    left: 0;
    width: 52px
}
.sidebar-shrink #app-sidebar .layui-nav-item .layui-nav-child{
    display: none
}
.sidebar-shrink #app-sidebar .layui-nav-item .app-cite ,.sidebar-shrink #app-sidebar .layui-side-scroll .layui-logo .sys-title{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0;
}
.sidebar-menu #app-sidebar .layui-nav-item .app-cite-show,.sidebar-menu #app-sidebar .layui-side-scroll .layui-logo .sys-title{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 1;
}
.sidebar-shrink #app-sidebar .layui-logo {
    left: 0;
    width: 52px
}

.sidebar-shrink .layui-body,.sidebar-shrink #app-header .layui-layout-left,.sidebar-shrink #lay-tab{
    left: 52px
}
.layui-layout{
    transition: all .3s;
    -webkit-transition: all .3s;
    width: 100%;
}