.div-head{
    position: relative;
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0;
}
.div-inline{
    display:inline
}
.div-right{
    float: right;
    display:inline
}
.head-title{
    height:100%;
    text-align: center;
    position: absolute;
}
.head-title p {
    margin:0;
    padding:0;
    display: inline-block;
    vertical-align: middle;
    text-align: left
}
.p_area{display: inline-block;
    height:100%;
    vertical-align: middle
}
.p_span{
    display: block
}
.div-center{
    margin: 0 auto; /*水平居中*/
    position: absolute;
}
.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}
/*.scroll-list {*/
/*    overflow: -moz-scrollbars-none;*/
/*    -ms-overflow-style: none;*/
/*}*/
/*::-webkit-scrollbar {*/
/*    width: 0;*/
/*}*/
.flow-default {
    width: 100%;
    height: 97%;
    overflow: auto;
    font-size: 0;
}
.flow-default li {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    width: 32.4%;
    margin-bottom: 10px;
    height: auto;
    line-height: 100px;
    text-align: center;
    background-color: #eee;
}
.flow-default img {
    width: 100%;
    height: 100%;
}
.layui-tab-header {
    background-color: #fff;
}
.layui-tab-tool-left {
    position: absolute;
    left: 220px;
    top: 10px;
    z-index: 10;
    width: 30px;
    height: 39px;
    line-height: 39px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border-color: #e6e6e6;
}
.layui-tab-tool-right {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 10;
    width: 30px;
    height: 39px;
    line-height: 39px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border-color: #e6e6e6;
}
.layui-tab-tool {
    position: absolute;
    left: 220px;
    top: 10px;
    z-index: 10;
    width: 30px;
    height: 39px;
    line-height: 39px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border-color: #e6e6e6;
}
.layui-tab-left {
    padding: 0 10px;
    left: 220px;
    position: absolute!important;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
}
.error-input {
    border-color:#ef1919;
}
.container-parent-hide {
    display: none;
}
.container-page-hide {
    display: none;
}
.layui-nav-system {
    position: absolute;
    left: 0;
    line-height: 36px;
    padding: 5px 0;
    width: 100%;
    margin: 0 -2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    border: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 100;
    border-radius: 2px;
    white-space: nowrap;
}
