<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card layui-card-body">
                <div class="layui-layout">
                        <div class="div-head">
                            <div class="div-inline head-title"><p><span class="p_span">流程管理</span></p><span class="p_area"></span></div>
                        </div>
                        <div class="layui-table-box" style="overflow:auto;height:89%;">
                            <table id="processTable" class="layui-table" style="display: none" lay-filter="processTable"></table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.config({
        base: './layui/'
    }).use(['table','layer','form','element'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;
        layer.load(2);
        // 渲染表格
        var renderTable = function () {
            table.render({
                elem: '#processTable'
                , url: '/process/getProcessPage'
                , cols: [[
                    {field: 'modelName', title: '模型名称'}
                    ,{field: 'rev',  title: '版本'}
                    , {templet: operate, title: '操作'}
                ]]
                , page: true
                , limit: 10   //默认十条数据一页
                , limits: [10, 20, 30, 50]  //数据分页条
                , done: function (res, curr, count) {
                    layer.closeAll('loading');
                    layer.msg(res.msg);
                    form.render('checkbox');
                    element.render('progress');
                }, parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
            });
        };
        renderTable();
        function operate(d) {
            return  '<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>' +
                '<button type="button" style="font-size:13px" lay-event="processXml" class="layui-btn layui-btn-xs layui-btn-normal layui-btn-radius"><span>&nbsp;&nbsp;&nbsp;</span>Xml<span>&nbsp;&nbsp;&nbsp;</span></button>' +
                '<button type="button" style="font-size:13px" lay-event="processPng" class="layui-btn layui-btn-xs layui-btn-normal layui-btn-radius"><span>&nbsp;&nbsp;&nbsp;</span>流程图<span>&nbsp;&nbsp;&nbsp;</span></button>' +
                '<button type="button" style="font-size:13px" lay-event="delProcess" class="layui-btn layui-btn-xs layui-btn-danger layui-btn-radius"><span>&nbsp;&nbsp;&nbsp;</span>删除<span>&nbsp;&nbsp;&nbsp;</span></button>';
        }

        //监听工具条
        table.on('tool(processTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var id = data.deploymentId;
            if(layEvent==='processXml'){
                $.post('/process/showXmlOrPng',{"deploymentId":id,"ext":"xml"},function (data) {
                    if(data.code==='success'){
                        showXmlOrPng(data.deploymentId,"流程XML",data.data)
                    }else {
                        layer.msg(data.message);
                    }
                });
            }else if(layEvent==='processPng'){
                $.post('/process/showXmlOrPng',{"deploymentId":id,"ext":"png"},function (data) {
                    if(data.code==='success'){
                        showXmlOrPng(data.deploymentId,"流程图",data.data)
                    }else {
                        layer.msg(data.message);
                    }
                });
            }else if(layEvent==='delProcess'){
                $.post('/process/delProcess',{"id":id},function (data) {
                    layer.msg(data.message);
                    if(data.code==='success')renderTable();
                });
            }
        });

        function showXmlOrPng(id,title,value) {
            layer.open({
                type: 2,
                title: title, //标题栏
                closeBtn: 2,    //右上角关闭按钮样式,0不显示
                area: ["555px", "575px"],
                shade: 0.2, //阴影
                id: id, //设定一个id，防止重复弹出
                btn: ['取消'],
                btnAlign: 'r',
                moveType: 1, //拖拽模式，0或者1
                content: '/process/processShow',
                success: function (layero, index) {    //成功获得加载html时，预先加载，将值从父窗口传到 子窗口
                    var body = layer.getChildFrame('body', index);  //弹出窗口body
                    //赋值数据
                    if(title==='流程图'){
                        body.find('#showXml').css('display','none');
                        body.find('#showPng').append('<img style="height: 400px" src="data:image/png;base64,'+value+'">')
                    }else {
                        body.find('#processXml').val(value);
                    }
                }
            });
        }

    });
</script>