<div class="layadmin-tabsbody-item layui-show" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card layui-card-body" style="overflow: auto">
                <div style="width: 100%;height: 88%;position: relative">
                    <div class="div-inline div-center" style="right: 0;">
                        <button type="button" id="backTaskBtn" href="javascript:void(0)" lay-page-backParent="true" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">返回</button>
                    </div>
                    <div class="layui-layout" style="width: 45%;height: 100%;position: absolute" id="tableLayout"> </div>
                    <div class="layui-layout" style="width: 25%;height: 100%;float: right;" id="imgLayout"></div>
                    <div class="layui-layout" style="width: 23%;height: 100%;overflow:auto;right: 26%;top: 32px;position: absolute" >
                        <label style="padding: 9px 15px;">流程时间线</label>
                        <ul class="layui-timeline" id="flowLine"></ul>
                    </div>
                </div>
                <div>
                    <form class="layui-form" id="taskFrom" action="">
                    <div class="layui-form-item" style="top: 50px;position: relative;">
                        <label class="layui-form-label">意见</label>
                        <div class="layui-input-block">
                            <textarea type="text" name="comment" style="height: 200px;width: 100%"  lay-verify="required" lay-reqtext="意见不能为空" placeholder="请输入"  class="layui-input" maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item"  style="top: 55px;position: relative;float: right">
                        <div class="layui-input-block">
                            <button lay-submit class="layui-btn layui-btn-radius" lay-filter="agreeTaskFrom">同意</button>
                            <button id="taskBack" lay-submit class="layui-btn layui-btn-radius layui-btn-warm" lay-filter="backTaskFrom">回退</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" type="text/javascript">
    layui.use(['page','approve','form','layer'], function(){
        var $ = layui.jquery;
        var form = layui.form;
        var page = layui.page;
        var approve = layui.approve;
        var layer = layui.layer;
        page.intoHtml('tableLayout',[[${url}]],{'id':[[${tableId}]],'type':[[${type}]]});

       if([[${taskType}]]==='detail'){
           $('#taskFrom').remove();
       }
        //查询当前task是否可以回退
        $.post('/task/showTaskBack',{"processInstanceId":[[${proId}]]},function (data) {
            if(data.code==='fail'){
                $('#taskBack').css('display','none');
            }
        });
        //显示流程图
        $.post('/task/showTaskImage',{"processInstanceId":[[${proId}]]},function (data) {
            if(data.code==='success'){
                $('#imgLayout').append('<img style="float: right" src="data:image/png;base64,'+data.data+'">');
            }else {
                layer.msg(data.message);
            }
        });
        //显示流程时间线
        $.ajax({
            type: "POST",
            url: "/task/showFlowLine",
            contentType:"application/json;charset=UTF-8",
            data: JSON.stringify({"tableId":[[${tableId}]],'status':'Y'}),
            dataType:"json",
            success: function (data) {
                if(data.code==='success'){
                    layui.each(data.data,function (index,item) {
                        var status = item.agree_status==0 ? '同意' : '回退';
                        var html ='<li class="layui-timeline-item">'+
                            '<i class="layui-icon layui-timeline-axis"></i>'
                            +'<div class="layui-timeline-content layui-text">'
                            +'<h3 class="layui-timeline-title">'+item.end_time+'</h3>'
                            +'<ul>'
                            +'<li>状态:'+status+'</li>'
                            +'<li>'+item.task_name+'：<em>'+item.assignee_name+'</em></li>'
                            +'<li>意见:'+item.opinion+'</li>'
                            +'</ul>'
                            +'</div>'
                            +'</li>';
                        $('#flowLine').append(html);
                    });
                }else {
                    layer.msg(data.message)
                }
            }
        });
        //回退-提交表单
        form.on('submit(backTaskFrom)', function(data){
            var index = layer.load(1);
            $.post("/task/rejectTask",{"taskId":[[${taskId}]],"comment":data.field.comment},function(res){
                layer.msg(res.message);
                layer.close(index);     //关闭加载动画
                if(res.code==="success"){
                    page.backParent($('#backTaskBtn'),true);
                }
            });
            return false;
        });
        form.on('submit(agreeTaskFrom)',function (data) {
            //判断是否有下一个task
            $.post("/task/getNextTask",{"taskId":[[${taskId}]]},function(res){
                if(res.message!==undefined){
                   layer.msg(res.message);
                }
                //有
                if(res.code==="success"){
                    approve.chooseLeader([[${taskId}]],res.data,data.field.comment,$('#backTaskBtn'));
                }else {
                    //没
                    var dataJson = {
                        "taskId": [[${taskId}]],
                        "comment":data.field.comment
                    };
                    $.ajax({
                        type: "POST",
                        url: "/task/completeTask",
                        contentType:"application/json;charset=UTF-8",
                        data: JSON.stringify(dataJson),
                        dataType:"json",
                        success: function (res) {
                            layer.msg(res.message);
                            if(res.code==='success'){
                                //表单更改为审核完成
                                approve.completeApprove(res.data,[[${tableId}]]);
                                page.backParent($('#backTaskBtn'),true);
                            }
                        }
                    });
                }
            });
            return false;
        })
    });
</script>