<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
</head>
<style>
    .btn-color{
        border: 1px solid #FF5722;
    }
    .layui-form-select dl { max-height:150px; }
</style>
<body>
<div>
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <input type="hidden" id="menuId" name="menuId"  class="layui-input">
                            <div class="layui-form-item">
                                <label class="layui-form-label">菜单名称</label>
                                <div class="layui-input-block">
                                    <input type="text" id="menuName" name="menuName" readonly autocomplete="off" class="layui-input" maxlength="30">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">权限名称</label>
                                <div class="layui-input-block">
                                    <input type="text" id="permissionName" name="permissionName" lay-verify="required" placeholder="请输入" class="layui-input" maxlength="30">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">权限内码</label>
                                <div class="layui-input-block">
                                    <input type="text" id="permission" name="permission"  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" maxlength="30">
                                </div>
                            </div>
                            <div class="layui-form-item" style="display: none">
                                <div class="layui-input-block">
                                    <!-- 隐藏提交按钮，在父层中调用 -->
                                    <button class="layui-btn" lay-filter="addMenuPermissionForm" lay-submit >添加</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script data-th-inline="none" type="text/javascript">
    layui.use(['form'],function () {
        var $ = layui.jquery,
        form = layui.form;
        //提交表单
        form.on('submit(addMenuPermissionForm)', function(data){
            var index = layer.load(1);
            $.ajax({
                type: "POST",
                url: "/menu/saveMenuPermission",
                contentType:"application/json;charset=UTF-8",
                data: JSON.stringify(data.field),
                dataType:"json",
                success: function (data) {
                    layer.msg(data.message);
                    if(data.code==="success"){
                        //数据提交后关闭弹出层
                        layer.close(index);     //关闭加载动画
                        //获得index (window.name  或者 layer.open弹出层Id)
                        index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                }
            });
            return false;
        });
    });
</script>
</html>