<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15" style="width:30%;float: left">
            <div class="layui-card layui-card-body" >
                <div class="layui-layout" style="position: relative">
                        <div class="layui-table-box" id="roleTableBox" style="margin-left: 1%;position:absolute;width:98%;overflow:auto;height:89%;">
                            <table id="orgRoleTable" class="layui-table" style="display: none" lay-filter="orgRoleTable"></table>
                        </div>
                    </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15" style="width: 40%;float: left;margin-left: 15px">
            <div class="layui-card layui-card-body">
                <div class="layui-layout" style="position: relative">
                        <div class="div-head">
                            <div class="div-inline div-center" style="right: 0">
                                <button id="confirmChoose" type="button" href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">确定授权</button>
                            </div>
                        </div>
                        <div class="layui-table-box layui-form" lay-filter="parentOrgan" id="pOrg" style="margin-left: 1%;position: absolute;width:98%;overflow:auto;height:96%;">
                            <table id="organTable" class="layui-table" style="display: none" lay-filter="organTable"></table>
                        </div>
                    </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15" style="width: 30%;float: left;margin-left: 15px">
            <div class="layui-card layui-card-body">
                <div class="layui-layout"  style="position: relative">
                        <div class="div-head">
                            <div class="div-inline div-center" style="right: 0;">
                                <button id="refresh" type="button" href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">刷新</button>
                                <button id="delChoose" type="button" href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">删除选中</button>
                                <button id="addOrgan" type="button" href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">添加</button>
                            </div>
                        </div>
                        <div class="layui-table-box" style="margin-left: 1%;position: absolute;width:98%;overflow:auto;height:89%;">
                            <table id="orgChildrenTable" class="layui-table" style="display: none" lay-filter="orgChildrenTable"></table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.config({
        base: './layui/'
    }).use(['table','layer','form','element','treetable'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var treetable = layui.treetable;
        var flag = true;    //刷新表格flag
        var oldData,oldCurr,oldLimit,oldPage;   //记录table数据,当前页数，每页多少,
        var roleObj,pid='0';
        layer.load(2);

        var renderTable = function (elem,url,data) {
            table.render({
                elem: elem
                , url: url
                , cols: [[
                    {type:'radio'},
                    {field: 'roleName', title: '角色名称',edit: 'dblEdit'},
                    { title: '操作',templet: complain}
                ]]
                , page: false
                , limit: 10   //默认十条数据一页
                , limits: [10, 20, 30, 50]  //数据分页条
                , where :data
                , done: function (res, curr, count) {
                    layer.closeAll('loading');
                    if(res.msg!==undefined) layer.msg(res.msg);
                    if(res.data.length>0){
                        renderRadio(res.data);  //默认选中第一个
                        getRoleOrganData(res.data[0]["id"]);
                        renderChildrenTable({'data':{'asc':'sort',"pid":pid}})
                    }
                    $("#roleTableBox").find('thead tr th .laytable-cell-radio').html('<i id="addRole" class="layui-icon layui-icon-add-circle"></i>');
                    addRole();
                }, parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
            });
        };
        //机构树
        function renderOrganTable(data,idArray) {
            layer.load(2);
            treetable.render({
                treeColIndex: 2,//树形图标显示在第几列
                treeSpid: 0,//最上级的父级id
                treeIdName: 'organId',//id字段的名称
                treePidName: 'pid',//pid字段的名称
                treeDefaultClose: false,//是否默认折叠
                treeLinkage: true,//父级展开时是否自动展开所有子级
                even:false,  //开启间隔行变色
                elem: '#organTable',
                url: '/organ/getOrganPageMapper',
                page: false,
                id:'organ',
               // limit: 999,   //由于默认十条数据一页,而我这里改造成树形表单不想开启分页,设置999
                // limits: [10, 20, 30, 50],  //数据分页条
                where :data,
                cols: [[
                    {type:'checkbox'},
                    {field: 'id', hide: true},
                    {field: 'organName', title: '机构树'},
                    {field: 'organLevel',width:100, title: '机构等级',fun: 'dblOrganLevel',align:'center',templet:levelFormat},
                    {title: '', width:50, templet: orgComplain}
                ]],
                done: function (res, curr, count) {
                    layer.closeAll('loading');
                    if(flag){
                        oldData = res.allData;     //记录数据
                        oldCurr = curr;
                        oldLimit = res.limit;
                        oldPage = res.page;
                        if(idArray.length>0)renderCheckbox(idArray,res.data);//首次加载渲染 避免动态选择checkbox  reloadTable多次执行该方法
                    }
                    flag=true;
                }
            });
        }
        //子机构
        var renderChildrenTable = function (data) {
            layer.load(2);
            table.render({
                elem: '#orgChildrenTable'
                , url: '/organ/getOrganPage'
                , cols: [[
                    {type:'checkbox'},
                    {field: 'organName', title: '子机构名称',edit:'dblEdit'},
                    { title: '操作',templet: complain}
                ]]
                , page: true
                ,id:'orgChildren'
                , limit: 10   //默认十条数据一页
                , limits: [10, 20, 30, 50]  //数据分页条
                , where :data
                , done: function (res, curr, count) {
                    layer.closeAll('loading');
                    if(res.msg!==undefined) layer.msg(res.msg);
                }, parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
            });
        };

        // 渲染角色表格
        renderTable('#orgRoleTable','/role/getRolePage');

        //动态渲染单选框
        function renderRadio(data) {
            data[0]["LAY_CHECKED"]=true;  //数据添加选中
            //下面是通过更改css来实现选中的效果
            var index= data[0]['LAY_TABLE_INDEX'];
            var dom = $('tr[data-index=' + index + '] input[type="radio"]');
            dom.prop('checked', true);
            dom.next().addClass('layui-form-checked layui-form-radioed');
            dom.next().find('i').addClass('layui-anim-scaleSpring');
            form.render('radio');   //渲染
            roleObj=data[0];
        }
        //动态渲染复选框
        function renderCheckbox(idArray,data) {
            layui.each(idArray,function (idIndex,idItem) {
                layui.each(data,function (index,item) {
                    if(idItem===item["organId"]){
                        data[index]["LAY_CHECKED"]=true;  //数据添加选中
                        // //下面是通过更改css来实现选中的效果
                        index= data[index]['LAY_TABLE_INDEX'];
                        var dom = $("#pOrg").find('tr[data-index=' + index + '] input[type="checkbox"]');
                        dom.prop('checked', true);
                        dom.next().addClass('layui-form-checked');
                    }
                });
            });
            form.render('checkbox','parentOrgan');   //渲染
        }
        //获得角色拥有的菜单
        function getRoleOrganData(data) {
            $.post('/organ/getRoleOrgan',{'tField':'roleOrgan','field':'roleId','object':data},function (res) {
                renderOrganTable({'orderBy':'sort asc'},res.data);
            });
        }
        //监听角色单选框
        table.on('radio(orgRoleTable)',function (obj) {
            flag=true;  //选中角色
            getRoleOrganData(obj.data.id);
            roleObj=obj.data; //记录角色
        });

         //添加角色
        function addRole() {
            $("#addRole").click(function(event){
                var array = table.cache["orgRoleTable"];
                var data={"id":"","roleName":""};
                array.push(data);
                table.reload('orgRoleTable',{
                    data : array
                });
            });
        }

        $("#addOrgan").click(function(event){
            var array = table.cache["orgChildren"];
            var data={"id":"","pid":pid,"organLevel":""};
            array.push(data);
            table.reload('orgChildren',{
                data : array
            });
            layer.msg("添加行成功")
        });

        $('#refresh').click(function () {
            refresh();
        });
        $('#confirmChoose').click(function () { //获取选中数据
            var checkStatus = table.checkStatus('organ')
                , data = checkStatus.data;
            var orgIds = "",orgNames = "";
            layui.each(data, function (index, item) {
                if (index === 0) {
                    orgIds = item.organId;
                    orgNames = item.organName;
                } else {
                    orgIds += "," + item.organId;
                    orgNames += "," + item.organName;
                }
            });
            layer.msg('正在授权<br><span style="color: orangered">[</span>'+orgNames+'<span style="color: orangered">]</span>', {
                time:false,
                btn: ['授权', '取消'],
                yes: function () {
                    $.post("/organ/authOrgan",{"roleId":roleObj.id,"roleName":roleObj.roleName,"organIds":orgIds},function(res){
                        layer.msg(res.message);
                        if(res.code==='success') {
                            renderChildrenTable({'data':{'asc':'sort',"pid":pid}});
                        }
                    })
                }
            });
        });
        $('#delChoose').click(function () { //获取选中数据
            var checkStatus = table.checkStatus('orgChildren')
                ,data = checkStatus.data;
            var orgIds="";
            layui.each(data,function (index,item) {
                if(index===0){
                    orgIds = item.organId;
                }else {
                    orgIds += ","+item.organId;
                }
            });
            if(orgIds.split(",")[0]!==""){
                delOrgan(orgIds,"选中的机构");
            }else {
                layer.msg("请选择机构")
            }
        });

        function refresh() {
            pid = '0';
            renderChildrenTable({'data':{'asc':'sort',"pid":pid}})
        }
        //监听单元格编辑
        table.on('edit(orgRoleTable)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.post('/role/addOrUpdateRole',data,function (res) {
                layer.msg(res.message);
                if(res.code==='success')renderTable('#orgRoleTable','/role/getRolePage');
            });
        });
        table.on('edit(orgChildrenTable)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.post('/organ/addOrUpdateOrgan',data,function (res) {
                layer.msg(res.message);
                if(res.code==='success'){
                    getRoleOrganData(roleObj.id);
                    renderChildrenTable({'data':{'asc':'sort',"pid":pid}});
                }
            });
        });
        //监听工具条
        table.on('tool(orgRoleTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if(layEvent==='del'){
                layer.msg('正在删除<br><span style="color: orangered">[</span>'+data.roleName+'<span style="color: orangered">]</span>', {
                    time:false,
                    btn: ['删除', '取消'],
                    yes: function () {
                        $.post("/role/delRole",{"id":data.id},function(res){
                            layer.msg(res.message);
                            if(res.code==='success')renderTable('#orgRoleTable','/role/getRolePage');
                        })
                    }
                });
            }
        });
        table.on('tool(orgChildrenTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if(layEvent==='del'){
                delOrgan(data.organId,data.organName);
            }
        });
        table.on('tool(organTable)', function(obj){
            var data = obj.data;
            var layEvent = obj.event;
            if(layEvent==='children'){
                pid = data.organId;
                //标注选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
                renderChildrenTable({'data':{'asc':'sort',"pid":pid}})
            }
        });
        function delOrgan(organId,organName) {
            layer.msg('正在删除<br><span style="color: orangered">[</span>'+organName+'<span style="color: orangered">]</span>', {
                time:false,
                btn: ['删除', '取消'],
                yes: function () {
                    $.post("/organ/delOrgan",{"organId":organId},function(res){
                        layer.msg(res.message);
                        if(res.code==='success') {
                            renderOrganTable({'orderBy':'sort asc'});
                            getRoleOrganData(roleObj.id);
                            renderChildrenTable({'data':{'asc':'sort',"pid":pid}});
                        }
                    })
                }
            });
        }
        function complain(d){//操作中显示的内容
            return '<a class="operation" lay-event="del" href="javascript:void(0)" title="删除">'+
                '<i class="layui-icon layui-icon-delete" ></i></a>';
        }
        function orgComplain() {
            return '<a class="operation" lay-event="children" href="javascript:void(0)" title="子机构">'+
                '<i class="layui-icon layui-icon-right" ></i></a>';
        }
        function levelFormat(d){//机构等级中显示的内容
            if(d.organLevel!=null){
                return '<button type="button" value="'+d.organLevel+'" class="layui-btn layui-btn-primary layui-btn-xs">'+d.levelName+'</button>';
            }
            return '<button type="button" class="layui-btn layui-btn-primary layui-btn-xs">请选择</button>';
        }
    });
</script>