<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/system/css/system.css}" media="all">
    <script th:src="@{/system/modules/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
<div>
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <input type="hidden" id="id" name="id"  class="layui-input" th:value="${user.id}" maxlength="32">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户账号</label>
                                <div class="layui-input-block">
                                    <input type="text" id="account" name="account" lay-verify="required" lay-reqtext="用户账号不能为空" placeholder="请输入" autocomplete="off" class="layui-input" th:value="${user.account}" maxlength="16">
                                </div>
                            </div>
                            <a id="accountTip" style="margin-left: 110px;display: none"></a>
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名称</label>
                                <div class="layui-input-block">
                                    <input type="text" id="username" name="username" lay-verify="required" lay-reqtext="用户名称不能为空" placeholder="请输入" autocomplete="off" class="layui-input" th:value="${user.username}" maxlength="16">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-block">
                                    <input type="password" id="password" name="password"  lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入" class="layui-input" th:value="${user.password}" maxlength="16">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">锁定</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" id ="statusLock" name="statusLock" lay-skin="switch" th:value="${user.statusLock}" lay-text="锁定|有效">
                                </div>
                            </div>
                            <div class="layui-form-item" style="display: none">
                                <div class="layui-input-block">
                                    <!-- 隐藏提交按钮，在父层中调用 -->
                                    <a class="layui-btn" lay-filter="addUserForm" lay-submit >添加</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script data-th-inline="none" type="text/javascript" th:inline="javascript">
    layui.use(['form','layer','laydate'],function () {
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.jquery;
        var flag = true;
        if([[${user.statusLock}]]===0)$('#statusLock').attr("checked", true);
        form.render('checkbox');
        $("#account").blur(function () {
            //检查账号名称是否存在
            if([[${user.account}]]!==$(this).val()&&$(this).val().length>0) {
                $.post('/user/checkUser', {"account": $(this).val()}, function (res) {
                    if (res.message === 'success') {
                        flag = true;
                        $("#account").toggleClass('error-input');
                        $("#accountTip").text("账号可以使用!").css("color", "green").css("display","block");
                    } else {
                        $("#account").addClass('error-input');
                        $("#accountTip").text("账号已经被注册!").css("color", "red").css("display","block");
                        flag = false;
                    }
                    if (res.code === 'fail') {
                        layer.msg(res.message);
                    }

                })
            }
        });
        form.on('submit(addUserForm)',function (data) {
            if(flag) {
                if (data.field.statusLock !== 1 || data.field.statusLock !== 0) {
                    data.field.statusLock = data.field.statusLock === undefined ? '1' : '0';
                }
                var index = layer.load(1);
                $.ajax({
                    type: 'POST',
                    url: '/user/addOrUpdateUser',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(data.field),
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === "success") {
                            //数据提交后关闭弹出层
                            layer.close(index);     //关闭加载动画
                            //获得index (window.name  或者 layer.open弹出层Id)
                            index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } else {
                            layer.close(index);     //关闭加载动画
                            layer.msg(data.message);
                        }
                    }
                });
                return false;
            }
        });
    })
</script>
</html>