<div class=" layui-show">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-layout">
                        <div class="div-head">
                            <div class="div-inline div-center" style="left: 4%"><p class="div-inline">用户管理</p></div>
                            <div class="div-inline div-center" style="left: 97%">
                                <button id="addUser" type="button" href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">添加</button>
                            </div>
                        </div>
                        <div class="layui-table-box">
                            <table id="userTable" class="layui-table" style="display: none"  lay-filter="userTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.config({
        base: './layui/'
    }).use(['table','layer','form','element'], function() {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;
        layer.load(2);
        var renderTable = function () {
            table.render({
                elem: '#userTable'
                , url: '/user/getUserPage'
                , cols: [[
                    {field: 'username', title: '用户名'},
                    {field: 'account', title: '账号'},
                    {field: 'statusLock', title: '锁定',templet:lock},
                    {title: '操作',templet: complain}
                ]]
                , page: true
                , limit: 10   //默认十条数据一页
                , limits: [10, 20, 30, 50]  //数据分页条
                , where: {'asc':'createTime'}
                , done: function (res, curr, count) {
                    layer.closeAll('loading');
                    form.render('checkbox');
                    layer.msg(res.msg);
                }, parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
            });
        };
        renderTable();
        function lock(d) {
            if(d.statusLock===1){
                return '<input type="checkbox" id ="'+d.id+'" lay-filter="switchLock" checked="" name="open" lay-skin="switch" lay-text="有效|锁定">';
            }else{
                return '<input type="checkbox" id ="'+d.id+'" lay-filter="switchLock" name="close" lay-skin="switch" lay-text="有效|锁定">'
            }
        }
        function complain(d){//操作中显示的内容
            var tool ='';
            if(d.id!==null) {
                tool += '<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>' +
                    '<button type="button" style="font-size:13px" lay-event="edit" class="layui-btn layui-btn-xs layui-btn-normal layui-btn-radius"><span>&nbsp;&nbsp;&nbsp;</span>编辑<span>&nbsp;&nbsp;&nbsp;</span></button>' +
                    '<button type="button" style="font-size:13px" lay-event="del" class="layui-btn layui-btn-xs layui-btn-danger layui-btn-radius"><span>&nbsp;&nbsp;&nbsp;</span>删除<span>&nbsp;&nbsp;&nbsp;</span></button>';
            }
            return tool;
        }
        //监听工具条
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if(layEvent==='del'){
                layer.msg('正在删除<br><span style="color: orangered">[</span>'+data.account+'<span style="color: orangered">]</span>', {
                    time:false,
                    btn: ['删除', '取消'],
                    yes: function () {
                        $.post('/user/deleteUser',{"id":data.id,"roleId":data.roleId},function (data) {
                            layer.msg(data.message);
                            if(data.code==='success') renderTable();
                        });
                    }
                });
            }
            if(layEvent==='edit'){
                addOrEditUser('editJob',data.id)
            }
        });
        $('#addUser').click(function () {
            addOrEditUser('add','')
        });
        //添加
        function addOrEditUser(id,param) {
            var flag = false;
            layer.open({
                type: 2,
                title: param===null?"添加用户":"编辑用户", //标题栏
                closeBtn: 2,    //右上角关闭按钮样式,0不显示
                area: ["555px", "355px"],
                shade: 0.2, //阴影
                id: id, //设定一个id，防止重复弹出
                btn: ['提交', '取消'],
                btnAlign: 'r',
                moveType: 1, //拖拽模式，0或者1
                content: '/user/addOrEditUser?id='+param,
                success: function (layero, index) {    //成功获得加载html时，预先加载，将值从父窗口传到 子窗口
                    var body = layer.getChildFrame('body', index);  //弹出窗口body
                    //赋值数据
                },
                yes: function (index, layero) { //提交按钮
                    let body = layer.getChildFrame('body', index);
                    var submit = body.find('a')[1];
                    // 触发点击事件，会对表单进行验证，验证成功则提交表单，失败则返回错误信息
                    submit.click();
                    flag = true;
                },
                btn2: function (index, layero) {
                },
                end: function () {
                    if (flag){
                        renderTable();//提交成功关闭后刷新table
                    }
                }
            });
        }
        //监听开关
        form.on('switch(switchLock)', function (data) {
            //data.elem  得到checkbox原始DOM对象
            //data.elem.checked 开关是否开启，true或者false
            //data.value 开关value值，也可以通过data.elem.value得到
            //data.othis 得到美化后的DOM对象
            var status = Status=data.elem.checked===true ? 1:0;
            $.post('/user/updateStatusLock',{"id":$(this).attr('id'),"statusLock":status},function (res) {
                layer.msg(res.message)
            })
        });
    });
</script>