<div class="layadmin-tabsbody-item layui-show" >
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card layui-card-body" style="height: 100%;overflow: auto">
                <div class="layui-layout">
                        <div class="div-head">
                            <div class="div-inline head-title"><p><span class="p_span">菜单管理</span></p><span class="p_area"></span></div>
                            <div class="div-inline div-center" style="right: 0">
                                <shiro:hasPermission name="menu:add">
                                <button id="addMenu" type="button" href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary">添加</button>
                                </shiro:hasPermission>
                            </div>
                        </div>
                        <div class="layui-table-box">
                            <table id="menuTable" class="layui-table" style="display: none"  lay-filter="menuTable"></table>
                        </div>
                        <div style="display: none">
                            <shiro:hasPermission name="menu:add">
                                <a class="operation"  id="addMenuHtml" lay-event="add" href="javascript:void(0)" title="添加">
                                    <i class="layui-icon layui-icon-add-1" ></i></a></shiro:hasPermission>
                            <shiro:hasPermission name="menu:addPermission">
                                <a class="operation" id="addMenuPermissionHtml" lay-event="addMenuPermission" href="javascript:void(0)" title="添加权限">
                                    <i class="layui-icon layui-icon-add-1" ></i></a></shiro:hasPermission>
                            <shiro:hasPermission name="menu:del">
                                <a class="operation" id="delMenuHtml" lay-event="del" href="javascript:void(0)" title="删除">
                                    <i class="layui-icon layui-icon-delete" ></i></a></shiro:hasPermission>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    /*使用模块加载的方式 加载文件*/
    layui.config({
        base: './layui/'
    }).use(['layer', 'table','form','treetable','cols','element','soulTable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var soulTable = layui.soulTable;
        var layer = layui.layer;
        var cols = layui.cols;
        var treetable = layui.treetable;
        var tableFlag = false;
        // 渲染表格
        var renderTable = function () {
            layer.load(2);
            treetable.render({
                treeColIndex: 2,//树形图标显示在第几列
                treeSpid: 0,//最上级的父级id
                treeIdName: 'menuId',//id字段的名称
                treePidName: 'pid',//pid字段的名称
                treeDefaultClose: false,//是否默认折叠
                treeLinkage: true,//父级展开时是否自动展开所有子级
                even:false,  //开启间隔行变色
                elem: '#menuTable',
                //toolbar: true , //表头
                url: '/menu/menuTableTree',
                page: true,
                limit: 10,   //默认十条数据一页
                limits: [10, 20, 30, 50],  //数据分页条
                where:{'asc':'sort'},
                cols: [[
                    {field: 'id', hide: true},
                    {type: 'numbers',title: '序号'},
                    {title: '权限',width: 60, collapse: true , //实现手风琴方式每次只展开一个
                        children:[{
                            title: '操作权限',
                            url: '/menu/menuTablePermission',
                            filter: {
                                bottom: false
                            },
                            height: 300,
                            where: function (row) {
                                var params = {
                                    data:{"menuId": row.menuId}
                                };
                                return params
                            },
                            page: false,
                            cols: [[
                                {field: 'menuName', title: '菜单名称', sort: true},
                                {field: 'permissionName', title: '权限名称', edit:'dblEdit', sort: true},
                                {field: 'permission', title: '权限内码', edit:'dblEdit', sort: true},
                                {templet: complainPermission, width: 60, title: '操作'}
                            ]],
                            toolEvent: function (obj, pobj) {
                                // obj 子表当前行对象
                                // pobj 父表当前行对象
                                var childId = this.id; // 通过 this 对象获取当前子表的id
                                if (obj.event === 'del') {
                                    delMenuPermission(obj.data,childId);
                                }
                            },
                            editEvent: function(obj, pobj) {
                                // obj 子表当前行对象
                                // pobj 父表当前行对象
                                tableFlag = true;
                                updatePermission(obj);
                            },
                            done: function () {
                                soulTable.render(this);
                            },
                            parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                                return {
                                    "code": res.code, //解析接口状态
                                    "msg": res.message, //解析提示文本
                                    "count": res.count, //解析数据长度
                                    "data": res.data //解析数据列表
                                };
                            }
                        }
                    ]},
                    {field: 'menuName', title: '菜单名称',edit: 'dblEdit'},
                    {field: 'menuUrl', title: '菜单路径',edit: 'dblEdit'},
                    {field: 'menuType', title: '菜单类型',fun: 'dblMenuType',align:'center',templet:typeFormat},
                    {field: 'menuIcon', title: '菜单图标',edit: 'dblEdit',customize: 'check:menuType'},
                    {templet: complain, width: 85, title: '操作'}
                ]],
                done: function (res, curr, count,tableThis) {
                    layer.closeAll('loading');
                    soulTable.render(tableThis);
                }
            });
        };
        renderTable();
        //触发三个button按钮
        $('#btn-expand').click(function () {
            treetable.expandAll('#menuTable');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#menuTable');
        });

        $('#btn-refresh').click(function () {
            renderTable();
        });

        $('#addMenu').click(function () {
          addMenu(0,0)//0是根目录，0 菜单类型目录
        });

        function complain(d){//操作中显示的内容
            if(d.menuId!=null){
                var html = $('#addMenuHtml').prop("outerHTML")+
                    $('#addMenuPermissionHtml').prop("outerHTML")+
                    $('#delMenuHtml').prop("outerHTML")+'';
                    if(!$.isEmptyObject(html.trim())&&html!==NaN+''){
                        return html;
                    }
            }

            return '无权限';
        }

        function complainPermission(d){//操作中显示的内容
            if(d.id!=null){
                 return    '<a class="operation" lay-event="del" href="javascript:void(0)" title="删除">'+
                    '<i class="layui-icon layui-icon-delete" ></i></a>';
            }
            return '--';
        }
        function typeFormat(d){//菜单类型中显示的内容
             if(d.menuType!=null){
                switch (d.menuType) {
                     case '1':
                         return '<button type="button" value="1" class="layui-btn layui-btn-xs layui-btn-normal">目录</button>';
                     case '2':
                         return '<button type="button" value="2" class="layui-btn layui-btn-primary layui-btn-xs">菜单</button>';
                     case '3':
                         return '<button type="button" value="3" class="layui-btn layui-btn-primary layui-btn-xs">按钮</button>';
                 }
            }
            return '';
        }
        //添加
        function addMenu(id,type){
            var flag = false;
            layer.open({
                type: 2,
                title: "添加菜单", //标题栏
                closeBtn: 2,    //右上角关闭按钮样式,0不显示
                area: ["500px","410px"],
                shade: 0.2, //阴影
                id: id, //设定一个id，防止重复弹出
                btn: ['提交', '取消'],
                btnAlign: 'r',
                moveType: 1, //拖拽模式，0或者1
                content: '/menu/addMenu',
                success: function (layero,index) {    //成功获得加载html时，预先加载，将值从父窗口传到 子窗口
                    var body = layer.getChildFrame('body', index);  //弹出窗口body
                    //赋值数据
                    body.find('#pid').val(id);
                    body.find('#menuType').val(type);
                },
                yes: function (index, layero) { //提交按钮
                    let body = layer.getChildFrame('body', index);
                    var submit = body.find('button')[0];
                    // 触发点击事件，会对表单进行验证，验证成功则提交表单，失败则返回错误信息
                    submit.click();
                    flag = true;
                },
                btn2: function (index, layero) {
                },
                end: function () {
                    if(flag)renderTable();  //提交成功关闭后刷新table
                }
            });
        }

        //添加权限
        function addMenuPermission(id,name,childrenId){
            var flag = false;
            layer.open({
                type: 2,
                title: "添加权限", //标题栏
                closeBtn: 2,    //右上角关闭按钮样式,0不显示
                area: ["500px","310px"],
                shade: 0.2, //阴影
                id: id, //设定一个id，防止重复弹出
                btn: ['提交', '取消'],
                btnAlign: 'r',
                moveType: 1, //拖拽模式，0或者1
                content: '/menu/addMenuPermission',
                success: function (layero,index) {    //成功获得加载html时，预先加载，将值从父窗口传到 子窗口
                    var body = layer.getChildFrame('body', index);  //弹出窗口body
                    //赋值数据
                    body.find('#menuId').val(id);
                    body.find('#menuName').val(name);
                },
                yes: function (index, layero) { //提交按钮
                    let body = layer.getChildFrame('body', index);
                    var submit = body.find('button')[0];
                    // 触发点击事件，会对表单进行验证，验证成功则提交表单，失败则返回错误信息
                    submit.click();
                    flag = true;
                },
                btn2: function (index, layero) {
                },
                end: function () {
                    if(flag){
                        // 父表ID: menuTable
                        // 第2行下标: 1
                        // 第一个子表下标(children下标): 0
                        table.reload('menuTable'+childrenId+'0');//提交成功关闭后刷新子表
                    }
                }
            });
        }

        //删除
        function delMenu(id,name){
            layer.msg('正在删除<br><span style="color: orangered">[</span>'+name+'<span style="color: orangered">]</span>及其子菜单', {
                time:false,
                btn: ['删除', '取消'],
                yes: function () {
                    $.post("/menu/delMenu",{"id":id},function(res){
                        layer.msg(res.message);
                        if(res.code==='success') renderTable();
                    })
                }
            });
        }
        function delMenuPermission(data,childId){
            layer.msg('正在删除<br><span style="color: orangered">[</span>'+data.permissionName+'<span style="color: orangered">]</span>权限', {
                time:false,
                btn: ['删除', '取消'],
                yes: function () {
                    $.post("/menu/delMenuPermission",{"id":data.id},function(res){
                        layer.msg(res.message);
                        if(res.code==='success'){
                            table.reload(childId);
                        }
                    })
                }
            });
        }

        function updatePermission(obj){
            $.post("/menu/updateMenuPermissionById",{"id":obj.data.id,"field":obj.field,"value":obj.value},function(res){
                layer.msg(res.message);
                if(res.code==='fail') {
                    renderTable();  //刷新 相当于恢复原数据
                }
            })
        }
        //监听单元格编辑
        table.on('edit(menuTable)', function(obj){
            if(tableFlag){ //避免 layui.table 与第三方增强版soultable 监听冲突
                tableFlag = false;
                return;
            }
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.post("/menu/updateMenuById",{"id":data.id,"field":field,"value":value},function(res){
                layer.msg(res.message);
                if(res.code==='fail') {
                    renderTable();  //刷新 相当于恢复原数据
                }
            })
        });
        //监听工具条
        table.on('tool(menuTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if(layEvent==='add'){
                addMenu(data['menuId'],Number(data['menuType'])+Number('1'))
            }else if(layEvent==='addMenuPermission'){
                addMenuPermission(data['menuId'],data['menuName'],$(this).closest('tr').attr('data-index'))
            }else if(layEvent==='del'){
                delMenu(data['menuId'],data['menuName']);
            }
        });
    });
</script>