<div class="layui-layout layui-layout-admin" >
    <!-- 头部区域 -->
    <div class="layui-header" id="app-header">
        <script type="text/html"
                template
                lay-done="layui.element.render('nav','sys-header')">
        <ul class="layui-nav layui-layout-left" lay-filter="sys-header">
            <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;" layadmin-event="refresh" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
        </ul>
        </script>

        <script type="text/html"
                template
                lay-api="/getInfo"
                lay-done="layui.element.render('nav','sys-header-tool')">
        <ul class="layui-nav layui-layout-right" style="right: 10px" lay-filter="sys-header-tool">
            <li class="layui-nav-item" lay-unselect="">
                <a id="dot" lay-head-href="message/messageMng" layadmin-event="message" title="消息">
                    <i  class="layui-icon layui-icon-notice"></i>
                    <!-- 如果有新消息，则显示小圆点 -->
                    {{# if(d.data.dot>0){ }}
                    <span class="layui-badge-dot"></span>
                    {{# } }}
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                <a href="javascript:;" title="全屏" layadmin-event="fullscreen">
                    <i class="layui-icon layui-icon-screen-full"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;">
                    <cite>{{ d.data.userName }}</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd><a lay-href="set/user/info">基本资料</a></dd>
                    <dd><a lay-href="set/user/password">修改密码</a></dd>
                    <hr>
                    <dd style="text-align: center;"><a lay-href href="logout">退出</a></dd>
                </dl>
            </li>
        </ul>
        </script>
    </div>
   <!-- tab头部 -->
    <div class="layui-header-tab" >
        <script type="text/html"
                template
                lay-done="layui.element.render('tab','system-tab')">
<!--            <div>-->
<!--                <span class=" layui-tab-tool-left" title=""><i class="layui-icon layui-icon-left"></i></span>-->
<!--            </div>-->
                <div class="layui-tab  layui-tab-left" lay-filter="system-tab" id="lay-tab" lay-allowClose="true">
                    <ul class="layui-tab-title">
                        <li lay-url="/baiduMap" class="layui-this">百度地图</li>
                    </ul>
                </div>
<!--            <div>-->
<!--                <span class=" layui-tab-tool-right" title=""><i class="layui-icon layui-icon-right"></i></span>-->
<!--            </div>-->
        </script>
    </div>

    <!-- 侧边菜单 -->
    <div class="layui-side layui-side-menu" id="app-sidebar">
        <div class="layui-side-scroll">
              <div class="layui-logo" ><!--
                <img data-th-src="@{system/images/logo.ico}">-->
                <span class="sys-title">layuiAdmin</span>
              </div>
            <script
                type="text/html"
                template
                lay-api="/getMenus"
                lay-done="layui.element.render('nav','layadmin-system-side-menu')">
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                {{# function buildMenu(data){
                    var html='';
                    layui.each(data,function(index,item){
                        html += ' <li data-name="'+item.menuName+'" data-jump class="layui-nav-item">
                        <a href="javascript:;"lay-href="'+item.menuUrl+'"lay-tips="'+item.menuName+'" lay-direction="2">
                            <i class="layui-icon '+item.menuIcon+'"></i>
                            <cite class="app-cite app-cite-show">'+item.menuName+'</cite>' ;
                        var cHtml = buildChildrenMenu(item.childrens);
                        if(cHtml=='')html+='</a>';
                        else html+='<span class="layui-nav-more"></span></a>';
                        html+= cHtml+'</li>';
                    });
                    return html;
                    }
                }}
                {{# function buildChildrenMenu(data){
                    var childrenHtml ='<dl class="layui-nav-child" >';
                    var itemHtml ='';
                    var num = '0';
                layui.each(data,function(index,item){
                    num +=index;
                    itemHtml +='<dd data-name="'+item.menuName+'" data-jump="'+item.menuUrl+'">
                        <a href="javascript:;" lay-href="'+item.menuUrl+'">
                                '+item.menuName+'
                           </a>';
                            if(item.childrens.length>0) itemHtml+= buildChildrenMenu(item.childrens);
                    });
                    itemHtml+='</dd>';
                    var result = childrenHtml+itemHtml+'</dl>';
                    if(num==='0') return '';
                    return result;
                    }
                }}
                {{ buildMenu(d.data) }}
            </ul>
            </script>
        </div>
    </div>

    <!-- 主体内容 -->
    <div class="layui-body" id="main-body"></div>

    <!-- 翻页内容 -->
    <div id="page-body"></div>
</div>


