<div class="layadmin-tabsbody-item layui-show" >
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card layui-card-body" style="height: 100%;overflow: auto">
                <div class="layui-layout">
                        <div class="div-head">
                            <div class="div-inline head-title"><p><span class="p_span">字典列表</span></p><span class="p_area"></span></div>
                        </div>
                        <div class="layui-table-box"  id="dictTableBox">
                            <table id="dictTable" class="layui-table" style="display: none"  lay-filter="dictTable"></table>
                        </div>
                        <div style="display: none">
                            <shiro:hasPermission name="dict:add">
                                <i id="addDict" class="layui-icon layui-icon-add-circle"></i>
                                <i id="addChildrenDict" class="layui-icon layui-icon-add-circle"></i>
                            </shiro:hasPermission>
                            <shiro:hasPermission name="dict:del">
                                <a class="operation" id="delDictHtml" lay-event="del" href="javascript:void(0)" title="删除">
                                    <i class="layui-icon layui-icon-delete" ></i></a></shiro:hasPermission>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    /*使用模块加载的方式 加载文件*/
    layui.config({
        base: './layui/'
    }).use(['layer','table','form','element','soulTable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var soulTable = layui.soulTable;
        var layer = layui.layer;
        var tableFlag = false;
        var pid = "",pName = "",layId = "";
        layer.load(1);
        // 渲染表格
        var renderTable = function () {
            table.render({
                elem: '#dictTable'
                , url: '/dict/getDictPage'
                , cols: [[
                    {type: 'numbers',title: '序号'},
                    {field: 'dictName', title: '字典', edit:'dblEdit'},
                    {field: 'dictCode', title: '字典内码', edit:'dblEdit'},
                    {title: '内容',width: 60, collapse: true , //实现手风琴方式每次只展开一个
                        children:[{
                            title: '字典内容',
                            url: '/dict/getDictPage',
                            filter: {
                                bottom: false
                            },
                            height: 300,
                            where: function (row) {
                                pid = row.dictId;
                                pName = row.dictName;
                                var params = {
                                    data: {"pid":row.dictId,'asc':'sort'}
                                };
                                return params
                            },
                            page: true ,
                            limit: 10 ,  //默认十条数据一页
                            limits: [10, 20, 30, 50] , //数据分页条
                            cols: [[
                                {field: 'pname', title: '所属字典', sort: true},
                                {field: 'dictName', title: '字典', edit:'dblEdit', sort: true},
                                {field: 'dictCode', title: '字典值', edit:'dblEdit', sort: true},
                                {templet: complain, width: 50, title: addTitle()}
                            ]],
                            toolEvent: function (obj, pobj) {
                                // obj 子表当前行对象  pobj 父表当前行对象
                                var childId = this.id; // 通过 this 对象获取当前子表的id
                                if (obj.event === 'del') {
                                    delDict(obj.data,childId);
                                }
                            },
                            editEvent: function(obj, pobj) {
                                // obj 子表当前行对象 pobj 父表当前行对象
                                 tableFlag = true;
                                 layId = $(this)[0].id;
                                 updateDict(obj,false);
                            },
                            done: function () {
                                $('#addChildrenDict').closest('div').html($('#addChildrenDict').prop("outerHTML"));
                                soulTable.render(this);
                                addChildrenDict();
                            },
                            parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                                return {
                                    "code": res.code, //解析接口状态
                                    "msg": res.message, //解析提示文本
                                    "count": res.count, //解析数据长度
                                    "data": res.data //解析数据列表
                                };
                            }
                        }
                        ]},
                    {templet: complain, width: 60, title: '操作'}
                ]]
                , page: true
                , limit: 10   //默认十条数据一页
                , limits: [10, 20, 30, 50]  //数据分页条
                , where: {'data':{'asc':'sort','pid':'0'}}
                , done: function (res, curr, count) {
                    layer.closeAll('loading');
                    if(res.msg!==undefined) layer.msg(res.msg);
                    soulTable.render(this);
                    $("#dictTableBox").find('thead tr th .laytable-cell-numbers').html( $('#addDict').prop("outerHTML"));
                    addDict();
                }, parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
            });
        };
        renderTable();
        //添加字典
        function addDict() {
            $("#addDict").click(function(event){
                var array = table.cache["dictTable"];
                var data={"id":"","pid":"0","dictName":""};
                array.push(data);
                table.reload('dictTable',{
                    data : array
                });
                layer.msg("添加行成功")
            });
        }
        function addChildrenDict() {
            $("#addChildrenDict").click(function(event){
                layId = $(this).closest('.layui-table-view').attr('lay-id');
                var array = table.cache[layId];
                var data={"id":"","pid":pid,"pname":pName,"dictName":""};
                array.push(data);
                table.reload(layId,{
                    data : array
                });
                layer.msg("添加行成功");
            });
        }

        table.on('edit(dictTable)', function(obj){
            if(tableFlag){ //避免 layui.table 与第三方增强版soultable 监听冲突
                tableFlag = false;
                return;
            }
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            data.field=field;
            data.value=value;
            sendPost(data,true);
        });
        //监听工具条
        table.on('tool(dictTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
             if(layEvent==='del'){
                delDict(data,"parent");
            }
        });
        //删除
        function delDict(data,target){
            layer.msg('正在删除<br><span style="color: orangered">[</span>'+data['dictName']+'<span style="color: orangered">]</span>', {
                time:false,
                btn: ['删除', '取消'],
                yes: function () {
                    $.post("/dict/delDict",{"id":data['dictId'],"target":target},function(res){
                        layer.msg(res.message);
                        if(res.code==='success') {
                            if(target==="parent"){
                                renderTable();
                            }else {
                                table.reload(target);
                            }
                        }
                    })
                }
            });
        }
        //更新
        function updateDict(obj,flag){
            sendPost(obj.data,flag);
        }
        function sendPost(data,flag) {
            $.ajax({
                type: "POST",
                url: "/dict/addOrUpdateDictById",
                contentType:"application/json;charset=UTF-8",
                data: JSON.stringify(data),
                dataType:"json",
                success: function (data) {
                    layer.msg(data.message);
                    if(flag){
                        renderTable();
                    }else {
                        //改变data 因为table.js修改为首先加载data其次url
                        table.reload(layId,{data:''});
                    }
                }
            });
        }
        function complain(d){//操作中显示的内容
            if(d.id!=null&&d.id!==""){
                var html = $("#delDictHtml").prop("outerHTML");
                if(!$.isEmptyObject(html.trim())){
                    return html;
                }else {
                    return '无权限';
                }
            }
            return '--';
        }
        function addTitle(){//显示添加按钮
            var html = $("#addChildrenDict").prop("outerHTML");
            if(!$.isEmptyObject(html.trim())){
                return html;
            }
            return '无权限';
        }
    });
</script>